<h1>
  "Descubra quem somos e o que nos motiva. Conheça a equipe por trás dos eventos
  extraordinários que criamos para você."
</h1>

<div class="content">
  <div>
    <h2>Sobre Nós</h2>
    <p>
      Bem-vindo ao nosso mundo de eventos extraordinários, onde paixão encontra
      profissionalismo e criatividade se encontra com precisão. Aqui na
      Stefeventos, estamos dedicados a criar experiências que transcendem o
      comum. Permita-nos compartilhar um pouco mais sobre quem somos:
    </p>
    <h2>Nossa Missão: Transformar Sonhos em Realidade</h2>
    <p>
      Na Stefeventos, acreditamos que os eventos são mais do que simples
      encontros; são oportunidades para criar memórias duradouras. Nossa missão
      é transformar sonhos em realidade, planejando e organizando cada detalhe
      com cuidado e atenção. Seja um casamento íntimo, uma conferência
      inspiradora ou uma festa corporativa, estamos aqui para transformar suas
      ideias em eventos inesquecíveis
    </p>
    <h2>Nossa Equipe: Paixão e Profissionalismo em Sincronia</h2>
    <p>
      Nossa equipe é o coração pulsante por trás de cada evento excepcional que
      organizamos. Combinamos paixão pelo que fazemos com anos de experiência e
      conhecimento especializado. Cada membro da nossa equipe traz consigo uma
      energia única e um compromisso inabalável com a excelência. Estamos aqui
      para superar suas expectativas e tornar cada evento que organizamos
      verdadeiramente especial.
    </p>
    <p>
      Estamos animados para compartilhar nossas histórias, habilidades e visão
      com você. Saiba mais sobre nós e descubra como podemos tornar o seu
      próximo evento verdadeiramente memorável.
    </p>
  </div>

  <img src="assets/sobre-nos.svg" alt="Sobre-Nós" />
</div>
