   <main>
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à página do StefEventos! Nós somos uma plataforma dedicada a mostrar os melhores eventos organizados pela empresa StefNini. Nossa missão é conectar pessoas a experiências inesquecíveis, oferecendo uma variedade de eventos que atendem a todos os gostos e interesses.</p>

        <h2>Nossos Eventos</h2>
        <p>Na StefEventos, você encontrará uma ampla gama de eventos, incluindo:</p>
        <ul>
            <li>Concertos e Shows</li>
            <li>Feiras e Exposições</li>
            <li>Palestras e Workshops</li>
            <li>Eventos Corporativos</li>
            <li>Festas e Celebrações</li>
        </ul>

        <h2>Por que escolher a StefEventos?</h2>
        <p>Escolher a StefEventos significa optar por qualidade, confiabilidade e uma experiência única. Nossa equipe trabalha incansavelmente para garantir que cada evento seja memorável e atenda às expectativas dos nossos participantes.</p>

        <h2>Entre em Contato</h2>
        <p>Se você deseja saber mais sobre nossos eventos ou tem alguma dúvida, não hesite em nos contatar!</p>
    </main>

    <footer>
        <p>&copy; 2023 StefEventos. Todos os direitos reservados.</p>
    </footer>
